/*Styling body of the page*/
body{
    background-color:#fff5f7;
    margin: 0;
    padding: 40px 20px;
}

/*Styling heading*/
h1{
    font-family:'Times New Roman', Times, serif;
    font-size: 80px;
    color: #000;
    text-align: left;
    margin-left: 80px;
    margin-bottom: 10px;
}

h1::after{
    content: "";
    display: block;
    width: 650px;
    height: 4px;
    margin-top: 15px;
    background: linear-gradient(to right, #ff8fab, #ffb07c);
}

/*====================
FAQ Container Styling
======================*/
#faq-container{
    max-width: 650px;
    margin-left: 80px;
    margin-top: 30px;
}

/*======================
    Styling Question
========================*/
.question
{
    position: relative;
    cursor: pointer;
    padding: 15px 35px 15px 0;
    font-size: 22px;
    font-weight: bold;
    border-top: 1px solid #ff9b94;
    border-bottom: 1px solid #ff9b94;
}

.question:hover{
    color: #ff5041;
}

/*=================
Styling plus icon
===================*/
.question::after{
    content:"+";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    font-weight: bold;
    color: #ff5040;
}

/*===================
Styling Minus icon
=====================*/
.question.active::after{
    content: "-";
}

/*====================
    Styling Answers
======================*/
.answer{
    max-height: 0;
    overflow: hidden;
    padding-left: 15px;
    font-size: 19px;
    line-height: 1.6;
    transition: max-height 0.35s ease;
}

/*Styling visible answers*/
.answer.show{
    max-height: 500px;
    margin-top: 8px;
    padding: 10px 15px;
    border-left: 3px solid #ff5040;
}